Repository MichaelWBrennan/KONIVRER, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, configuration, dependencies, security, testing, css, javascript, ci/cd

.github/labeler.yml:

# MIT License
#
# Copyright (c) 2025 KONIVRER Team

# Automatic labeling configuration for GitHub Actions

# Frontend changes
frontend:
  - "src/**"
  - "public/**"
  - "index.html"
  - "vite.config.js"

# Backend changes
backend:
  - "Backend/**"
  - "api/**"
  - "server/**"

# Documentation changes
documentation:
  - "*.md"
  - "docs/**"
  - ".github/**/*.md"

# Configuration changes
configuration:
  - "*.json"
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - ".github/workflows/**"
  - "vercel.json"

# Dependencies
dependencies:
  - "package*.json"
  - "Backend/package*.json"
  - "yarn.lock"
  - "pnpm-lock.yaml"

# Security related
security:
  - "**/*security*"
  - "**/*auth*"
  - ".github/workflows/*security*"

# Testing
testing:
  - "**/*.test.*"
  - "**/*.spec.*"
  - "test/**"
  - "tests/**"
  - "__tests__/**"

# Styling
css:
  - "**/*.css"
  - "**/*.scss"
  - "**/*.sass"
  - "**/*.less"

# JavaScript/TypeScript
javascript:
  - "**/*.js"
  - "**/*.jsx"
  - "**/*.ts"
  - "**/*.tsx"

# CI/CD
ci/cd:
  - ".github/workflows/**"
  - ".github/actions/**"
  - "scripts/**"

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Fix: Remove duplicate module declarations
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Build and format check for deck database (#1482)
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Fix: Remove duplicate module declarations
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Build project and check code style (#1485)
  src/types/index.ts
Labels: frontend, javascript

Fix: Remove duplicate module declarations
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Build and check project dependencies (#1486)
  src/types/index.ts
Labels: frontend, javascript

Fix: Remove duplicate module declarations
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Build and check project dependencies (#1487)
  src/types/index.ts
Labels: frontend, javascript

Refactor: Remove duplicate module declarations
  src/types/index.ts
Labels: frontend, javascript

🤖 AUTO-FIX: Intelligent code fixes and CI compliance ⚠️ Partial fixes applied
  src/types/index.ts
Labels: frontend, javascript

Fix code style issues in build (#1488)
  src/types/index.ts
Labels: frontend, javascript

feat: Add event filtering and sorting utilities
  package-lock.json
  package.json
  src/components/PageRouter.tsx
  src/pages/Events.tsx
  src/pages/events.css.ts
  src/stores/appStore.ts
  src/types/index.ts
  src/utils/eventUtils.ts
  tsconfig.json
Labels: frontend, configuration, dependencies, javascript

🤖 Add comprehensive dependabot automation with force merge
  .github/dependabot.yml
  .github/workflows/dependabot-branch-auto-process.yml
  .github/workflows/dependabot-force-merge.yml
  DEPENDABOT_AUTOMATION.md
  scripts/test-dependabot-workflows.sh
Labels: documentation, configuration, ci/cd

🚀 Remove all custom checks that prevent auto-merging
  .github/workflows/dependabot-auto-merge-pr.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-force-merge.yml
  DEPENDABOT_AUTOMATION.md
Labels: documentation, configuration, ci/cd

🚀 Remove ALL blocking conditions for every branch
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/force-merge-all-branches.yml
  .github/workflows/label-automerge.yml
  .github/workflows/scheduled-merge-deploy.yml
  .github/workflows/ultimate-hands-off-automation.yml
  DEPENDABOT_AUTOMATION.md
Labels: documentation, configuration, ci/cd

🚀 Test force merge automation system
  test-force-merge.md
Labels: documentation

Refactor: Remove unused branch tracking and simplify workflows
  DEPENDABOT_AUTOMATION.md
  infrastructure/aws-sam/functions/merge-tracking/index.js
  render.yaml
  scripts/test-dependabot-workflows.sh
Labels: documentation, configuration, javascript, ci/cd

Refactor: Remove unused branch tracking and simplify workflows (#1490)
  DEPENDABOT_AUTOMATION.md
  infrastructure/aws-sam/functions/merge-tracking/index.js
  render.yaml
  scripts/test-dependabot-workflows.sh
Labels: documentation, configuration, javascript, ci/cd

Refactor: Improve GitHub Actions for Dependabot automation
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/dependabot-branch-auto-process.yml
  .github/workflows/dependabot-force-merge.yml
  .github/workflows/force-merge-all-branches.yml
  .github/workflows/label-automerge.yml
  .github/workflows/ultimate-hands-off-automation.yml
  DEPENDABOT_AUTOMATION.md
Labels: documentation, configuration, ci/cd

Disable type checking, linting, and formatting scripts
  package.json
Labels: configuration, dependencies

Checkpoint before follow-up message
  package.json
Labels: configuration, dependencies

Refactor: Remove unused CI workflows and configurations
  .github/workflows/ci.yml
  .github/workflows/enforce-typescript.yml
  .github/workflows/intelligent-code-fixer.yml
  .github/workflows/prettier-fix.yml
  .github/workflows/super-linter.yml
  .github/workflows/typescript-auto-fix.yml
  backend/package.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  eslint.config.js
  package.json
  tsconfig.json
  tsconfig.node.json
Labels: configuration, dependencies, javascript, ci/cd

Run project build and checks (#1491)
  .github/workflows/auto-merge-dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-branch-auto-process.yml
  .github/workflows/dependabot-force-merge.yml
  .github/workflows/enforce-typescript.yml
  .github/workflows/force-merge-all-branches.yml
  .github/workflows/intelligent-code-fixer.yml
  .github/workflows/label-automerge.yml
  .github/workflows/prettier-fix.yml
  .github/workflows/super-linter.yml
  .github/workflows/typescript-auto-fix.yml
  .github/workflows/ultimate-hands-off-automation.yml
  DEPENDABOT_AUTOMATION.md
  backend/package.json
  backend/tsconfig.build.json
  backend/tsconfig.json
  eslint.config.js
  package.json
  tsconfig.json
  tsconfig.node.json
Labels: documentation, configuration, dependencies, javascript, ci/cd

🤖 Ultimate Automation: 2025-09-29 21:38:44
  package-lock.json
Labels: configuration, dependencies
